.page {
  background: #2a2c2f;
  font-size: 16px; /* Tamaño de fuente */
  line-height: 20px; /* Altura de línea */
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;

  min-width: 320px;
}

